
/*Styles*/

.directory-words-position
{
	color:white;
	text-align: center;
}
.header
{
	color:black;
	font-family:Brush Script MT,cursive;
	font-size:500%; 
	text-align:center;
}
.samuri-position
{
	float:center; position: absolute; 
	left:160px; 
	top: 250px
}

.center-align
{
		text-align: center;
}
.button 
{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.death-button {
  background-color: white; 
  color: black; 
  border: 2px solid #f44336;
}

.death-button:hover {
  background-color: #f44336;
  color: white;
}


.color-button 
{
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button:hover 
{
  background-color: #4CAF50;
  color: white;
}

.music
{
  
}
